@model List<EnterpriseIQ.Web.Controllers.BlobDetails>
@{
    ViewBag.Title = "Upload Documents";
}
<style>
    .separator-text {
        padding: 0 10px;
        font-weight: bold; /* Apply bold font weight */
        color: #555; /* Set the desired color for the text */
        background-color: #eee6e6;
    }

    .table-wrapper {
        max-height: 300px; /* Set the maximum height for the table */
        overflow-y: auto; /* Add a vertical scrollbar if the content overflows */
    }
</style>
<script>
    function validateForm() {
        var allowedExtensions = /(\.pdf|\.jpeg|\.jpg|\.png|\.doc|\.docx)$/i;
        var fileInput = document.getElementById("fileUpload");
        var files = fileInput.files;
        var errorMessage = "";

        for (var i = 0; i < files.length; i++) {
            var fileName = files[i].name;
            if (!allowedExtensions.test(fileName)) {
                errorMessage = "Invalid file type: " + fileName;
                break;
            }
        }

        var errorDiv = document.getElementById("fileError");
        errorDiv.textContent = errorMessage;
        return errorMessage === "";
    }
    function searchBlobFiles() {
        var search = document.getElementById("search").value;
        window.location.href = "/Admin/Index?search=" + search;
    }

    function deleteAllBlobFiles() {
        if (confirm("Are you sure you want to delete all blob files?")) {
            $("#blobDeleteMessage").css('display', 'block');
            $("#blobDeleteMessage").html("Started Deleting all blob files, kindly do not refresh or close browser...<i class='fa fa-gear fa-spin' style='font-size:24px;color:white'></i>");
            $.ajax({
                type: "POST",
                url: "/Admin/DeleteAllBlob",
                success: function (response) {
                    if (response.success) {
                        $("#blobDeleteMessage").html(response.message + "<i class='fa fa-gear' style='font-size:24px;color:white'></i>");
                    } else {
                        alert("Error: " + response.message);
                    }
                },
                error: function () {
                    alert("Error deleting blob. Please try again later.");
                }
            });
        }
    }

    function deleteBlob(blobName) {
        if (confirm("Are you sure you want to delete this blob?")) {
            $.ajax({
                type: "POST",
                url: "/Admin/DeleteBlob",
                data: { blobName: blobName },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        location.reload(); // Refresh the page after successful deletion
                    } else {
                        alert("Error: " + response.message);
                    }
                },
                error: function () {
                    alert("Error deleting blob. Please try again later.");
                }
            });
        }
    }

    function SaveMessage() {
        if (confirm("Are you sure you want to Update this System Message?")) {
            $.ajax({
                type: "POST",
                url: "/Admin/UpdateSystemMessage",
                data: { sysmsg: $("#txtSystemMessage").val() },
                success: function (response) {
                    if (response.success) {
                        alert("System Message updated successfully.");
                        location.reload(); 
                    } else {
                        alert("Error: " + response.message);
                    }
                },
                error: function () {
                    alert("Error Updating System Message. Please try again later.");
                }
            });
        }
    }

    function formatElapsedTime() {
        var date = new Date();

        // Get individual date and time components
        var day = date.getDate();
        var month = date.getMonth() + 1; // Months are 0-indexed
        var year = date.getFullYear();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var period = hours >= 12 ? 'PM' : 'AM';

        // Adjust hours to 12-hour format
        hours = hours % 12 || 12;

        // Format: MM/DD/YYYY h:mm AM/PM
        var formattedDate = month + '/' + day + '/' + year;
        var formattedTime = hours + ':' + (minutes < 10 ? '0' : '') + minutes + ' ' + period;

        return formattedDate + ' ' + formattedTime;
    }
</script>
<script>
    $(document).ready(function () {
        var processingIcon = "<i class='fa fa-gear fa-spin' style='font-size:24px;color:white'></i>";
        var unicodeIcon = "<i class='fa fa-gear' style='font-size:24px;color:white'></i>";
        $("#btnRefreshCollection").click(function () {

            var result = window.confirm("Are you sure you want to refresh the collection?, this may take 10-15mints depends on the size of your documents, during this process please do not refresh or close the browser! You can check the status of progress at the bottom of the page.");

            if (result) {
                // Clear previous messages
                $("#resultMessage").empty();
                var messageDiv = $("<div>").css({
                    "color": "white",
                    "display": "inline-block" // Set display to inline-block
                }).text("Started Processing PDF & Image files. Please do not refresh or close browser...");
                $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                $("#resultMessage").append(messageDiv);
                $("#resultMessage").append(processingIcon);
                $("#resultMessage").append("</br>");
                $.ajax({
                    url: '/Admin/ProcessPDFAndImageFiles',
                    type: 'POST',
                    success: function (data) {
                        $("#resultMessage").find(".fa-spin").removeClass("fa-spin");
                        if (data == "True") {
                            var messageDiv = $("<div>").css({
                                "color": "white",
                                "display": "inline-block" // Set display to inline-block
                            }).text("Finished Processing PDF & Image files, Successfully!");
                            $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                            $("#resultMessage").append(messageDiv);
                            $("#resultMessage").append("</br>");

                            var messageDiv = $("<div>").css({
                                "color": "white",
                                "display": "inline-block" // Set display to inline-block
                            }).text("Started Processing word files. Please do not refresh or close browser...");
                            $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                            $("#resultMessage").append(messageDiv);
                            $("#resultMessage").append(processingIcon);
                            $("#resultMessage").append("</br>");
                            $.ajax({
                                url: '/Admin/ProcessWordtoImageFileAsync',
                                type: 'POST',
                                success: function (data) {
                                    $("#resultMessage").find(".fa-spin").removeClass("fa-spin");
                                    if (data == "True") {
                                        $("#resultMessage").find(".fa-spin").removeClass("fa-spin");
                                        var messageDiv = $("<div>").css({
                                            "color": "white",
                                            "display": "inline-block" // Set display to inline-block
                                        }).text("Finished Processing Word Files, Successfully!");
                                        $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                                        $("#resultMessage").append(messageDiv);
                                        $("#resultMessage").append("</br>");

                                        var messageDiv = $("<div>").css({
                                            "color": "white",
                                            "display": "inline-block" // Set display to inline-block
                                        }).text("Started Refreshing Indexing. Please do not refresh or close browser...");
                                        $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                                        $("#resultMessage").append(messageDiv);
                                        $("#resultMessage").append(processingIcon);
                                        $("#resultMessage").append("</br>");

                                        $.ajax({
                                            url: '/Admin/RefreshIndexing',
                                            type: 'POST',
                                            success: function (data) {
                                                $("#resultMessage").find(".fa-spin").removeClass("fa-spin");
                                                if (data == "True") {
                                                    var messageDiv = $("<div>").css({
                                                        "color": "white",
                                                        "display": "inline-block" // Set display to inline-block
                                                    }).text("Finished Refreshing Indexing, Successfully, All operations were successful.");
                                                    $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                                                    $("#resultMessage").append(messageDiv);
                                                    $("#resultMessage").append("</br>");
                                                } else {
                                                    var messageDiv = $("<div>").css({
                                                        "color": "white",
                                                        "display": "inline-block" // Set display to inline-block
                                                    }).text("Something went wrong while processing indexing, kindly contact system administrator");
                                                    $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                                                    $("#resultMessage").append(messageDiv);
                                                    $("#resultMessage").append("</br>");
                                                }
                                            },
                                            error: function () {
                                                $("#resultMessage").find(".fa-spin").removeClass("fa-spin");
                                                var messageDiv = $("<div>").css({
                                                    "color": "white",
                                                    "display": "inline-block" // Set display to inline-block
                                                }).text("Something went wrong while processing indexing, kindly contact system administrator");
                                                $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                                                $("#resultMessage").append(messageDiv);
                                                $("#resultMessage").append("</br>");
                                            }
                                        });
                                    } else {
                                        var messageDiv = $("<div>").css({
                                            "color": "white",
                                            "display": "inline-block" // Set display to inline-block
                                        }).text("Something went wrong processing word documents, kindly contact system administrator");
                                        $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                                        $("#resultMessage").append(messageDiv);
                                        $("#resultMessage").append("</br>");
                                    }
                                },
                                error: function () {
                                    $("#resultMessage").find(".fa-spin").removeClass("fa-spin");
                                    var messageDiv = $("<div>").css({
                                        "color": "white",
                                        "display": "inline-block" // Set display to inline-block
                                    }).text("Something went wrong, kindly contact system administrator");
                                    $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                                    $("#resultMessage").append(messageDiv);
                                    $("#resultMessage").append("</br>");
                                }
                            });
                        } else {
                            $("#resultMessage").find(".fa-spin").removeClass("fa-spin");
                            var messageDiv = $("<div>").css({
                                "color": "white",
                                "display": "inline-block" // Set display to inline-block
                            }).text("Something went wrong processing pdf & images, kindly contact system administrator");
                            $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                            $("#resultMessage").append(messageDiv);
                            $("#resultMessage").append("</br>");
                        }
                    },
                    statusCode: {
                        401: function () {
                            // Handle 401 Unauthorized
                            // Redirect to the login page
                            alert("Session is expired. please login again");
                            window.location.href = '/Account/SignIn';
                        }
                    },
                    error: function () {
                        var messageDiv = $("<div>").css({
                            "color": "white",
                            "display": "inline-block" // Set display to inline-block
                        }).text("Something went wrong, kindly contact system administrator");
                        $("#resultMessage").append("[" + formatElapsedTime() + "] ");
                        $("#resultMessage").append(messageDiv);
                        $("#resultMessage").append("</br>");
                    }
                });
            }
        });

    });
</script>
<main>
    <div class="separator">
        <hr class="left" />
        <span class="separator-text">Step1: Upload Documents</span>
        <hr class="right" />
    </div>

    @using (Html.BeginForm("Upload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validateForm()" }))
    {
        <label for="fileUpload" class="mr-3">Select multiple files to upload:</label>
        <div class="form-group d-flex align-items-center">
            <input type="file" name="files" id="fileUpload" multiple class="form-control mr-3" accept=".pdf, .jpeg, .jpg, .png, .doc, .docx" />
            <button type="submit" class="btn btn-primary" style="margin-left:10px">Upload</button>
            <div id="fileError" style="color: red;"></div>
        </div>
    }

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info mt-3">
            @ViewBag.Message
        </div>
    }



    <div class="separator">
        <hr class="left" />
        <span class="separator-text">Step2: Manage Blob Files</span>
        <hr class="right" />
    </div>
    <div>
        <label for="search">Search: </label>
        <input type="text" id="search" value="@ViewBag.Search" />
        <button onclick="searchBlobFiles()">Search</button>
        <button class="btn btn-danger" onclick="deleteAllBlobFiles()">Delete All</button>
        <span id="blobDeleteMessage" style="background-color: orangered;color:white; padding: 10px;display:none"></span>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Date Created</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blobDetails in Model)
                {
                    <tr>
                        <td>@blobDetails.FileName</td>
                        <td>@blobDetails.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>
                            <button onclick="deleteBlob('@blobDetails.FileName')">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="separator">
        <hr class="left" />
        <span class="separator-text">Step3: System Message (Optional)</span><br />
        <span style="font-size:small;color:grey">Give the EIQ model instructions about how it should behave and any context it should reference when generating a response. Keep empty if not needed.</span>
        <hr class="right" />
    </div>
    <div>
        <textarea id="txtSystemMessage" rows="5" cols="110">@ViewBag.SysMsg</textarea>
        <button class="btn btn-primary" onclick="SaveMessage()" style="margin-left:10px">Save</button>
    </div>
    <div class="separator">
        <hr class="left" />
        <span class="separator-text">Step4: Refresh EnterpriseIQ Index</span>
        <hr class="right" />
    </div>
    <button id="btnRefreshCollection" class="btn btn-danger" style="margin-left:10px">Refresh Collection</button>
    @*<div class="fa-3x">
            <i class="fas fa-cog fa-spin"></i>
        </div>*@
    <div id="resultMessage" style="margin-top: 10px; background-color: rgba(0,0,0,0.5);color:white; padding: 10px; "></div>
</main>
